CLOUDFLARE_ACCOUNT_ID=26f1159c115d0dcd910b4adba0b4188d
CLOUDFLARE_PROJECT_NAME=datazmws
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_D1_API_TOKEN=
CLOUDFLARE_PAGES_API_TOKEN=

VITE_STATIC_DATA_BASE=/data
VITE_SERVER_API_BASE=https://api.zmwsrank.top
VITE_VISITOR_API_BASE=
VITE_STATIC_DATA_STREAM=false
